<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>글 리스트</title>
		
  		<link href="/public/semantic.min.css" rel="stylesheet" >
		
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #333;
			}

			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}

		</style>
		
		
		<script src="/public/jquery-2.1.4.min.js"></script>
		<script src="/public/semantic.min.js"></script>
		
		<script>
			function listpost(page, perPage) {
				document.location = '/process/community?page=' + page + '&perPage=' + perPage; 
			}
		</script>
		
	</head>
	<body>
    	
    	<div class="container">
    		<br>
    		 
			<div class="ui raised segment"> 
				<a class="ui blue ribbon label">게시판</a> 
                <div align = "right"> <!-- 글의 제목, 글쓴이에 따른 검색 -->
                <form name = "communitysearch", method = "post", action= "/process/community">
                    <select name="communitysearchselect" > 
                        <option value ="communitysearchtitle" selected = true>제목</option>
                    </select>   
                    <input type = "text" name = "communitysearchvalue"> 
                    <input type = "submit" value = "search"> 
                    </form>
                </div>
				<div class="ui blue fluid card">   
                    <div class="content">
                       
						<div class="ui grid">
			   				<div class="two wide column">번호</div>
			   				<div class="eight wide column">제목</div>
			   				<div class="two wide column">작성자</div>
			   				<div class="two wide column">작성일</div>
			   				<div class="two wide column">조회수</div>
			   			</div>
				    		
						<div class="ui very relaxed selection celled list">
							<%  var topindex = pageCount - perPage*(page); //페이지 가장 상위 항목의 번호
							    console.log('pageCount: ',pageCount);
                                console.log('page: ',page); 
                                console.log('topindex: ',topindex);
                            
                                for (var i = 0; i < perPage; i++) {
								   
                                   var curIndex = pageCount - topindex + i; //참조해야할 게시물의 번호
                                   if(curIndex >= pageCount)
                                       {break;}
                                   var curTitle = posts[curIndex]._doc.title;
								   var curContents = posts[curIndex]._doc.contents;
								   var curWriter = posts[curIndex]._doc.writer.nickNm; 
                                   var curDate = posts[curIndex]._doc.created_at; 
								   var curNo = topindex - i; // 화면 상 표시해야할 게시물의 번호
                                   var curHits = posts[curIndex]._doc.hits;  
                                    %>
								    <div class="item">
										<div class="ui grid">
						    				<div class="two wide column"><%=curNo %></div>
						    				<div class="eight wide column" onclick="javascript:window.location='/process/showpost/<%=posts[i]._doc._id %>'"><h4><%=curTitle %>  [<%=posts[curIndex]._doc.comments.length%>]</h4> </div>
											    <div class= "two wide column">
                                                    <%=curWriter %> 
                                                </div>     
                                                <div class= "two wide column">
											             <%=curDate.getFullYear()%> - 
                                                          <%=curDate.getMonth()+1%> - 
                                                           <%=curDate.getDate()%> &nbsp; 
                                                </div> 
                                                <div class= "two wide column">
											            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <%=curHits %>
                                                </div>
						    		    </div> 
                                        </div>
							<% } %>	
				    	</div>
			    	 
			       		<br>
						<div class="tiny ui basic buttons"> <!-- 화면 하단 페이지 이동 아이콘-->
					 		<%
					 			if (page > 0) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(0, <%=perPage%>)">
										<i>&lt;&lt;</i> <!-- 맨 앞 쪽으로-->
									</div>
									<div class="ui icon button" onclick="listpost(<%=(page-1) %>, <%=perPage %>)">
										<i>&lt;</i> <!--1쪽 앞으로 -->
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i>&lt;&lt;</i>
									</div>
									<div class="ui disabled icon button">
                                        <i>&lt;</i>
									</div>
					 		<%
					 			}
					 		%>
					 		<%
					 			
					 			for (var i = 0; i < Math.ceil(pageCount/perPage); i++) { //페이지 하단 숫자들
					 				if (i != page) {
					 		%>
					 					<div class="ui button" onclick="listpost(<%=i %>, <%=perPage %>)">
					 						<%= i+1%>
					 					</div>
					 		<%
					 				} else {
					 		%>
					 					<div class="ui active basic button">
					 						<%= i+1%>
					 					</div>
					 		<% 
					 				}
					 			}
					 		%>
					 		<%
					 			if ((page+1) < pageCount) {
					 		%>
					 				<div class="ui icon button" onclick="listpost(<%=(page+1) %>, <%=perPage %>)">
										<i>&gt;</i> <!--1쪽 뒤로-->
									</div>
									<div class="ui icon button" onclick="listpost(<%=(Math.ceil(pageCount/perPage)-1) %>, <%=perPage %>)">
										<i>&gt;&gt;</i> <!--가장 뒤쪽으로-->
									</div>
					 		<%
					 			} else {
					 		%>
					 				<div class="ui disabled icon button">
										<i>&gt;</i>
									</div>
									<div class="ui disabled icon button">
										<i>&gt;&gt;</i>
									</div>
					 		<%
					 			}
					 		%>
					 	</div>
						 	  
						<br><br>
						<a class="ui button" href='/process/community'>재요청</a>
						<a class="ui button" href='/public/community/addpost.html'>글쓰기</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

